/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.App-header {
  background-color: #ECB365;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ECB365;
  height: 100%;
}
